table{
    width: auto;
    
}

table th, table td{
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
    border: solid 1px #181b1d;
}
table button {
    cursor: pointer;
    font-size: 20px;
    padding: 12px 17px;
    text-align: center;
    border-radius: 1px;
    color: #023e4d;
    border: solid 2px #60cfeb;
    background-color: #60cfeb;
  }